.btn {
    border-radius: 5px;
    text-align: center;
    height: 100%;
    margin-top: 20%;
}
.btn-modern {
    padding: 10px 20px;
    border-radius: 3px;
    
}
.btn-modern:hover {
    border-radius: 5px;
    border: 1px #987284;    
    box-shadow: 5px 5px #D0D6B5;
    background-color: #75B9BE;
    color: #987284;
    transition: 0.4s;
    translate: 0px -5px;
    }